:root{
    --golden: #f3ab25;
    --yellow: #ffdd03;
    --cream: #fbfcd4;
    --bl: #0a0a0a;
    --ble: #151515f7;
}
*{
    margin: 0;
    padding: 0;
    color: var(--golden);
}


/*---------------------------------------
FONTS
----------------------------------------*/
@font-face {
    font-family: 'brush';
    src: url(fonts/brush.ttf);
}
@font-face {
    font-family: 'chakrareq';
    src: url(fonts/chakra\ regular.ttf);
}
@font-face {
    font-family: 'chakrabold';
    src: url(fonts/chakrabold.ttf);
}
@font-face {
    font-family: 'chakralight';
    src: url(fonts/chakralight.ttf);
}
@font-face {
    font-family: 'love';
    src: url(fonts/love.ttf);
}

@font-face {
    font-family: 'penscript';
    src: url(fonts/penscript.ttf);
}
@font-face {
    font-family: 'rye';
    src: url(fonts/rye.ttf);
}



@font-face {
    font-family: 'tech';
    src: url(fonts/tech.ttf);
}

body{
    background-color: var(--ble);
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/*------------------------------
HEADER STYLING
-------------------------------*/

.header{
    display: flex;
    align-items: center;
    gap: 2%;
}
.header-img{
    width: 6%;
    margin-left: 5%;
}
.header h1{
    font-size: 60px;
    font-family: 'love';
    color: #f3ab25;
    letter-spacing: 5px;
}

/*------------------------------
FOOTER STYLING
-------------------------------*/
.footer{
    /* border: 2px solid white; */
    font-size: 20px;
    margin-top: 10%;
    background-color: #262626f7;
}
.footer b,p{
    padding: 5px 15px;
}
.footer-top{
    font-family: 'penscript';
    font-size: 28px;
}
.footer-main{
    text-align: center;
    margin-top: 1.5%;
}
.footer a{
    font-size: 25px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

/*------------------------------
SCROLLBAR STYLING
-------------------------------*/
::-webkit-scrollbar{
    width: 7px;
    background: black;
    /* border: 0.5px solid #797979; */
    border-radius: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 4px;
    background-clip: padding-box;
}
 /* EXTRAS */
.span{
    color: var(--yellow);
}

/*----------------------
PRELOADER STYLING
------------------------- */
.preloader{
    width: 99.2vw;
    height: 99.5vh;
    position: fixed;
    background: #f3ab25;
    border: dashed;
}
.pre1{
    width: 98%;
    height: 96%;
    margin: auto;
    border-spacing: 30px;
    border: 7px double rgb(0, 0, 0);
}
.pre-img{
    border: 2px solid var(--golden);
    height: 70%;
    width: 30%;
    margin: 0 0 0 33%;
}
h6{
    color: black;
    font-size: 50px;
    font-family: 'love';
    margin: 0 auto;
    width: max-content;
    letter-spacing: 0;
    margin-top: 4%;
    padding-bottom: 30px;
    border-bottom: solid 2px #000000;
    border-radius: 50%;
}
