.body-container{display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.8fr 0.2fr; 
    gap: 0px 0px; 
    margin-top: 1%;
    /* border: 2px solid red; */
}
#heading{
    color: white;
    text-align: center;
    font: 2.5rem 'tech';
    -webkit-text-stroke: 0.09rem black;
    background-color: var(--yellow);
    border: 1px solid black;
}

#container{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid pink; */
}
.card{
    /* width: 95%; */
    margin: 0 auto;
    border: 2px solid green;
}
.sub{
    font-size: 3px;
    font-family: 'chakrabold';
    letter-spacing: 5px;
    -webkit-text-stroke: 0.4px white;
    margin: 2% 0 0 3%;
    padding-bottom: 10px;
}

.card-image{
    width: 100%;
}


/* SIDEBAR STYLING */
#main7{
    margin-top: 10%;
}

.sidebar h3{
    font: 1rem 'tech';
    margin: 5% 0 0 1%;
    cursor: pointer;
}

.sidebar h2{
    color: white;
    text-align: center;
    font: 2.42rem 'tech';
    -webkit-text-stroke: 0.08rem black;
    background-color: var(--yellow);
    border: 1px solid black;
}



/* -----------------------------------------------------------------
TOP ANIME CARD - 2
------------------------------------------------------------------- */
.TPa-card{
    width: 20rem;
    margin: 1.5% 0;
    border-radius: 5px;
    background: var(--golden);
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.8fr 1.2fr; 
    grid-template-rows: 1.3fr; 
    gap: 2%px 0px; 
}
.TPa-card:hover{
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.47);
}
.TPa-img{
    width: 90%;
    height: 100%;
    position: relative;
    top: 6%;
    left: 6%;
    border: 1px solid black;
    border-radius: 10px ;
}
.TPa-2{
    margin: auto;
    width: 100%;
    height: 90%;
    /* border: 1.5px solid black; */
}
.TPa-2 h3{
    width: 99%;
    color: black;
    font: 1.3rem 'rye';
}
.TPa-2 p{
    color: black;
    line-height: 1.5rem;
    margin: 5% 0;
    font-family: 'chakrabold';
}

/* -----------------------------------------------------------------
UPCOMING ANIME CARD - 2
------------------------------------------------------------------- */
.upanime{
    width: 40%;
    margin: 2% 0 0 2%;
    background: var(--golden);
    border-radius: 0 30px 0 30px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.8fr 1.2fr; 
    grid-template-rows: 1.3fr; 
    gap: 0px 5px; 
}

.upa-img{
    width: 90%;
    height: 210px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
}
.upanime h3{
    font-size: 21px;
    margin: 0 0 0 1%;
    font-family: 'rye';
    color: black;
}
.upanime p{
    color: black;
    font-family: 'chakrabold';
}
.upa-2{
    margin: auto;  
}
/* -----------------------------------------------------------------
TRENDING ANIME CARD - 3
------------------------------------------------------------------- */
.TA-card{
    width: 45%;
    height: min-content;
    margin: 2% 0 0 4%;
    border-radius: 0 20px 0 20px;
    background: var(--golden);
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.7fr 1.2fr; 
    grid-template-rows: 1.3fr; 
    gap: 0px 10px; 
}
.TA-c h3{
    color: black;
    font-size: 21px;
    /* width: 97%; */
    margin: 0 0 0 1%;
    font-family: 'rye';
}
.TA-c{
    margin: auto;
}
.TA-c p{
    color: black;
    font-family: 'chakrabold';
}

.TA-img{
    width: 100%;
    height: 80%;
    margin: 10% 0;
    border: 5px solid black;
    border-radius: 10px;
}

.TA-i{
    margin: 0 0 0 3%;
}
/* -----------------------------------------------------------------
TOP MANGA CARD - 4
------------------------------------------------------------------- */
.tpmanga{
    width: 40%;
    padding: 10px;
    height: fit-content;
    /* margin: 1% auto; */
    margin: 2% 0 0 3%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--golden);
    color: black;
    display: flex;
}
.tpm-img{
    width: 100%;
    margin: 0 auto;
    height: 200px;
    border: 4px solid black;
    border-radius: 8px;
}

.tpm-content-d {
    margin: auto;
    width: 70%;
}
.tpm-content-d h3{
    color: black;
    font-size: 23px;
    font-family: 'rye';
}
.tpm-content-d p{
    color: black;
    font-family: 'chakrabold';
    width: max-content;
    margin-left: 5%;
}
.link{
    background: var(--yellow);
    border: 1px solid black;
    border-radius: 3px;
    width: 5rem;
    color: black;
    text-align: center;
    font: 1rem 'chakrabold';
    margin: 0 3% 3% auto;
}



/* -----------------------------------------------------------------
TRENDING MANGA CARD - 5
------------------------------------------------------------------- */

.trmcard{
    width: 90%;
    margin: 2%;
    /* border: 2px solid green; */
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.4fr 0.6fr; 
    gap: 10px 10px; 
    background-color: var(--golden);
    border-radius: 0px 40px 0px 40px;
}
.trmimg{
    width: 80%;
    height: 88%;
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
}
.d1{
    /* border: 1px solid pink; */
    color: #000000;
    padding: 10px;
}
.d1 h3{
    color: black;
    font-size: 30px;
    font-family: 'rye';

}
.d1 p{
    color: black;
    font-size: 18x;
    font-family: 'chakrabold';
}
.p2{
    margin-top: 2%;
}

