.body-container{display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.7fr 0.3fr; 
  gap: 0px 0px; 
  /* margin-top: 1; */
}

.pseudobody{
    width: 100%;
}

h3{
    font: 2rem 'tech';
    margin:  2% 0 1%;
}

h4{
    text-align: center;
}
.see-more{
    float: right;
    cursor: pointer;
    background: var(--yellow);
    color: black;
    font-family: 'chakralight';
    padding: 5px;
    border-radius: 10px;
}
.see-more:hover{
    padding: 7px;
}
.main2,.main3,.main4,.main5,.main6,.main7{
    /* border: 2px solid green; */
    border: 2px solid purple;
    width: 99%;
    margin: 0 auto;
    margin-top: 5rem;
}

.main1{
    margin-top: 0;
}
#container-main1, #container-main2, #container-main3, #container-main4, #container-main5, #container-main6,#container-main7{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container{
    border: 2px solid white;
    width: 15rem;
    /* margin: 2% 0 0 2%; */
    margin-top: 2rem;
}

.card{
    width: 100%;
    /* height: fit-content; */
    font-family: 'chakrareq';
}
.card-image{
    height: 20rem;
    width: 100%;
}


.main2 {
    margin-top: 0;
}


.container-main1{
    width: 100%;
}

.quote-section{
    width: 85vw;
    margin: 0 auto;
}

.By{
    float: right;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: 'chakralight';
}

#quote{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: 'love';
    letter-spacing: 0.3rem;
    text-align: center;
}


h2{
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-family: 'tech';
    -webkit-text-stroke: 0.5px black;
    background-color: var(--yellow);
    border: 1px solid black;
}

.pseudobody h2{
    margin: 0;
}

/* SIDERBAR STYLING */

#main7{
    margin-top: 1rem;
}

 #main7 h3{
    padding: 0.35rem 0;
    font-size: 1.15rem;
    cursor: pointer;
}



@media (max-width:400px) {



}