.pseudobody{
    width: 98%;
    margin: 0 auto;
    border: 2px solid pink;
}
.span{
    color: var(--yellow);
}
.placeholder{
    width: 70%;
    height: 70vh;
    margin-left:15%;
}

h3{
    font-family: 'tech';
    font-size: 25px;
    margin: 2% 0 0 1%;
}
.see-more{
    float: right;
}
.main1,.main2,.main3,.main4,.main5,.main6{
    border: 2px solid green;
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
}
#container-main1, #container-main2, #container-main3, #container-main4, #container-main5, #container-main6{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 18%;
    margin: 2% 0 0 1%;
    /* background-color: #ffdd0352; */
    border: 1px solid #ffdd03;
}
.card-image{
    height: 85%;
    width: 100%;
}