.body-container {
  display: grid;
  grid-template-columns: 85% 15%;
  gap: 0px 0px;
  margin-top: 2%;
  /* grid-auto-columns: 50%; */
  /* border: 2px solid red; */
}

.pseudobody {
  /* border: 2px solid pink; */
  width: 100%;
}

.menuHeading {
  font: 2rem "tech";
  /* margin: 0 0 0 1%; */
}

.sectionHeadings {
  font: 1rem "tech";
}

.titles {
  text-align: center;
  margin-top: 3%;
  font-size: 1rem;
}
.see-more {
  float: right;
  cursor: pointer;
  background: var(--yellow);
  color: black;
  font-family: "chakralight";
  padding: 0.5rem;
  border-radius: 10px;
}

.main2,
.main3,
.main4,
.main5,
.main6,
.main7 {
  width: 97%;
  margin: 0 auto;
  margin-top: 5%;
}
.main2 {
  margin-top: 2%;
}
.main1 {
  margin-top: 0%;
}
#container-main1,
#container-main2,
#container-main3,
#container-main4,
#container-main5,
#container-main6,
#container-main7 {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sectionHeadings {
  font-size: 1rem;
}

.card {
  /* height: fit-content; */
  font-family: "chakrareq";
}
.card-image {
  height: 20rem;
  width: 100%;
}

.card-container {
  width: 15rem;
  margin-top: 2%;
}

.quote-section {
  width: 97%;
  margin: 5% auto 0 auto;
}

.By {
  float: right;
  margin-top: 2%;
  font-weight: 600;
  font: 1.5rem "chakralight";
}
#quote {
  margin: 3% auto 0 auto;
  width: 90%;
  font: 3rem "love";
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
}

.menuHeading {
  color: white;
  text-align: center;
  font: 2rem "tech";
  -webkit-text-stroke: 1px black;
  background-color: var(--yellow);
  border: 1px solid black;
}

/* SIDERBAR STYLING */
#main7 {
  margin-top: 7%;
}
#main7 h3 {
  padding: 5px 0;
  font: 1.25rem "tech";
  cursor: pointer;
}

.sectionHeadings {
  font-size: 2rem;
}
.errorMessage{
  font: 2rem 'tech';
  margin-top: 3%;
}

@media screen and (max-width: 720px) {
  .body-container {
    grid-template-columns: 82% 18%;
  }
  .menuHeading {
    font-size: 0.8rem;
    padding: 0.2rem;
    -webkit-text-stroke: 0.5px black;
  }
  .main2 {
    margin-top: 5%;
  }
  .main3,
  .main4,
  .main5,
  .main6,
  .main7 {
    margin-top: 15%;
  }

  .card-container {
    width: 7rem;
    margin-top: 5%;
  }
  .card-image {
    height: 10rem;
  }
  .titles {
    font-size: 0.5rem;
    margin-top: 5%;
  }
  #main7 h3 {
    font-size: 0.5rem;
  }

  .sectionHeadings {
    font: 1.2rem "tech";
  }
  .see-more {
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
  }
  #quote{
    font-size: 1.5rem;
    margin-top: 7%;
  }
.By {
  font-size: 0.7rem;
}
.errorMessage{
  font-size: 1rem;
  text-align: center;
}
}
